.productPage{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 20px;
    gap: 10px;
}
.SingleProduct .productImg{
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}
.productInfo{
    padding: 0 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.cartBtn{
    display: flex;
    align-items: center;
    
}

.btn{
    padding: 15px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: large;
}
.cartBtn h2{
    padding: 10px;
}