*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: #e6fffb;
    display: flex;
    justify-content: flex-end;
    border: 2px solid cyan;
    flex-wrap: wrap;
}
nav p{
    padding: 20px;
}
